{/* Gradient background */}
<div
  class="fixed inset-0 -z-10 bg-[radial-gradient(circle_at_50%_120%,#2a0450,#131033,#000)]"
>
</div>

{/* Noise texture overlay */}
<div class="fixed inset-0  bg-[url('/noise.svg')] opacity-50 -z-10"></div>
