---
import { Github, Wand2, Star } from "lucide-astro";
---

<section class="relative overflow-hidden px-4 py-20 lg:py-32">
  <div class="absolute inset-0 -z-10">
    {
      [...Array(30)].map((_, i) => (
        <div
          class="absolute h-0.5 w-0.5 animate-twinkle rounded-full bg-white/80 shadow-[0_0_2px_#fff]"
          style={{
            top: `${Math.random() * 100}%`,
            left: `${Math.random() * 100}%`,
            animationDelay: `${Math.random() * 3}s`,
            animationDuration: `${2 + Math.random() * 3}s`,
          }}
        />
      ))
    }
  </div>

  <div class="container relative z-10 mx-auto text-center">
    <div
      class="inline-flex items-center gap-2 mb-6 animate-float rounded-full bg-purple-500/5 px-6 py-4 text-sm text-purple-300 backdrop-blur-sm"
    >
      <Star class="h-4 w-4 stroke-1 stroke-amber-300 fill-amber-300" />
      <span>Add Good Vibes to your Website</span>
    </div>

    <h1
      class="mb-6 text-4xl font-bold tracking-tight text-center sm:text-6xl md:text-7xl"
    >
      <span
        class="bg-[linear-gradient(45deg,#8b5cf6,#ec4899,#f43f5e,#8b5cf6)] bg-[length:200%_auto] animate-text-shimmer bg-clip-text text-transparent knewave-regular"
      >
        Cascarilla.js
      </span>
    </h1>

    <p class="max-w-2xl mx-auto mb-8 text-lg text-purple-100/80 sm:text-xl">
      🤙✨ <b>Cascarilla.js</b> is a library that brings good vibes and <a
        href="#"><u><i>aché</i></u></a
      > to your website, setting you up for success from the start 🌟. By simply
      importing this library, you'll be starting your project on the right foot 😉.
    </p>

    <div class="flex flex-col justify-center items-center gap-4 sm:flex-row">
      <a
        role="button"
        href="#get-started"
        class="relative z-10 flex justify-center items-center gap-2 group max-w-max h-12 rounded-full bg-purple-600 px-8 transition-all hover:bg-purple-700 hover:shadow-[0_0_20px_rgba(139,92,246,0.3)] hover:scale-105 cursor-pointer text-white"
      >
        <Wand2 class="h-5 w-5 group-hover:rotate-12 group-hover:mr-1" />
        <p>Get Started</p>
      </a>
      <a
        role="button"
        href="https://github.com/CuCodersCommunity/cascarilla.js.git"
        class="relative z-10 flex justify-center items-center gap-2 group max-w-max h-12 rounded-full border-2 border-purple-600 px-6 transition-all hover:border-purple-700 hover:shadow-[0_0_20px_rgba(139,92,246,0.3)] hover:scale-105 cursor-pointer text-white"
      >
        <Github class="h-5 w-5 group-hover:rotate-12 group-hover:mr-1" />
        <p>Source Code</p>
      </a>
    </div>
  </div>
</section>
