---
import Features from "./Features.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Testimonial from "./Testimonial.astro";
import GetStarted from "./GetStarted.astro";
import SeeTheMagic from "./SeeTheMagic.astro";
---

<div
  class="relative min-h-screen bg-[radial-gradient(circle_at_50%_120%,#2a0450,#131033,#000)] backdrop-filter backdrop-opacity-90"
>
  <Hero />
  <Features />
  <Testimonial />
  <GetStarted />
  <SeeTheMagic />
  <Footer />
</div>
