---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Knewave&display=swap"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="keywords"
            content="cascarilla, javascript, library, vibes, aché, npm, package, cuban, typescript"
        />
        <meta
            property="description"
            content="Give Your Website Good Vibes and Aché with Cascarilla.js"
        />
        <meta property="og:title" content="Cascarilla.js | The Vibes Library" />
        <meta
            property="og:description"
            content="Give Your Website Good Vibes and Aché with Cascarilla.js"
        />
        <meta
            property="og:image"
            content="https://cascarilla.pages.dev/cascarilla.js-social.webp"
        />
        <meta property="og:url" content="https://cascarilla.pages.dev/" />
        <meta property="og:site_name" content="Cascarilla.js" />
        <meta property="og:type" content="website" />
        <title>Cascarilla.js</title>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "Cascarilla.js",
                "url": "https://cascarilla.pages.dev/",
                "logo": "/src/assets/images/favicon.svg",
                "description": "Give Your Website Good Vibes and Aché with Cascarilla.js",
                "sameAs": ["https://github.com/CuCodersCommunity/cascarilla.js"]
            }
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
